scenario_4064964.json
{
    "flow":  [
                 {
                     "id":  1,
                     "mapper":  {

                                },
                     "module":  "gateway:CustomWebHook",
                     "version":  1,
                     "metadata":  {
                                      "restore":  {
                                                      "parameters":  {
                                                                         "hook":  {
                                                                                      "data":  {
                                                                                                   "editable":  "true"
                                                                                               },
                                                                                      "label":  "My Webhook Landing Gemygateway-webhook webhook"
                                                                                  }
                                                                     }
                                                  },
                                      "designer":  {
                                                       "x":  0,
                                                       "y":  0
                                                   },
                                      "parameters":  [
                                                         {
                                                             "name":  "hook",
                                                             "type":  "hook:gateway-webhook",
                                                             "label":  "Webhook",
                                                             "required":  true
                                                         },
                                                         {
                                                             "name":  "maxResults",
                                                             "type":  "number",
                                                             "label":  "Maximum number of results"
                                                         }
                                                     ]
                                  },
                     "parameters":  {
                                        "hook":  1846794,
                                        "maxResults":  1
                                    }
                 },
                 {
                     "id":  2,
                     "mapper":  {
                                    "model":  "gemini-2.0-flash",
                                    "contents":  [
                                                     {
                                                         "role":  "user",
                                                         "parts":  [
                                                                       {
                                                                           "text":  "{{1.value}}",
                                                                           "type":  "text"
                                                                       }
                                                                   ]
                                                     }
                                                 ],
                                    "generationConfig":  {
                                                             "imageConfig":  {

                                                                             },
                                                             "thinkingConfig":  {

                                                                                }
                                                         },
                                    "system_instruction":  {
                                                               "parts":  [
                                                                             {
                                                                                 "text":  "\"Sos Gemy, el asistente virtual oficial de Gemy Digital en San Martín de los Andes. Sos experto en marketing digital y automatización. Tu tono es profesional pero cercano. Tu misión es convencer al cliente de que la IA es la herramienta que le falta a su negocio e invitarlo a pedir una \u0027Auditoría Gratuita\u0027 mediante el botón de la web.\""
                                                                             }
                                                                         ]
                                                           }
                                },
                     "module":  "gemini-ai:createACompletionGeminiPro",
                     "version":  1,
                     "metadata":  {
                                      "expect":  [
                                                     {
                                                         "name":  "model",
                                                         "type":  "select",
                                                         "label":  "AI Model",
                                                         "required":  true
                                                     },
                                                     {
                                                         "name":  "contents",
                                                         "spec":  [
                                                                      {
                                                                          "name":  "role",
                                                                          "type":  "select",
                                                                          "label":  "Role",
                                                                          "options":  [
                                                                                          {
                                                                                              "label":  "User",
                                                                                              "value":  "user"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Model",
                                                                                              "value":  "model"
                                                                                          }
                                                                                      ]
                                                                      },
                                                                      {
                                                                          "name":  "parts",
                                                                          "spec":  [
                                                                                       {
                                                                                           "name":  "type",
                                                                                           "type":  "select",
                                                                                           "label":  "Message Type",
                                                                                           "options":  [
                                                                                                           {
                                                                                                               "label":  "Text",
                                                                                                               "value":  "text",
                                                                                                               "nested":  [
                                                                                                                              {
                                                                                                                                  "name":  "text",
                                                                                                                                  "type":  "text",
                                                                                                                                  "label":  "Text",
                                                                                                                                  "required":  false
                                                                                                                              }
                                                                                                                          ]
                                                                                                           },
                                                                                                           {
                                                                                                               "label":  "File",
                                                                                                               "value":  "file",
                                                                                                               "nested":  [
                                                                                                                              {
                                                                                                                                  "name":  "file_data",
                                                                                                                                  "spec":  [
                                                                                                                                               {
                                                                                                                                                   "name":  "mime_type",
                                                                                                                                                   "type":  "text",
                                                                                                                                                   "label":  "Mime Type",
                                                                                                                                                   "required":  false
                                                                                                                                               },
                                                                                                                                               {
                                                                                                                                                   "help":  "You can use public or signed URLs as input by using the URLs.",
                                                                                                                                                   "name":  "file_uri",
                                                                                                                                                   "type":  "text",
                                                                                                                                                   "label":  "File URI",
                                                                                                                                                   "required":  false
                                                                                                                                               }
                                                                                                                                           ],
                                                                                                                                  "type":  "collection",
                                                                                                                                  "label":  "File Data",
                                                                                                                                  "required":  false
                                                                                                                              }
                                                                                                                          ]
                                                                                                           },
                                                                                                           {
                                                                                                               "label":  "Function Call",
                                                                                                               "value":  "functionCall",
                                                                                                               "nested":  [
                                                                                                                              {
                                                                                                                                  "name":  "functionCall",
                                                                                                                                  "spec":  [
                                                                                                                                               {
                                                                                                                                                   "help":  "The name of the function to call.",
                                                                                                                                                   "name":  "name",
                                                                                                                                                   "type":  "text",
                                                                                                                                                   "label":  "Name",
                                                                                                                                                   "required":  true,
                                                                                                                                                   "validate":  {
                                                                                                                                                                    "max":  64
                                                                                                                                                                }
                                                                                                                                               },
                                                                                                                                               {
                                                                                                                                                   "help":  "The function parameters and values in JSON object format.",
                                                                                                                                                   "name":  "args",
                                                                                                                                                   "type":  "json",
                                                                                                                                                   "label":  "Arguments"
                                                                                                                                               },
                                                                                                                                               {
                                                                                                                                                   "help":  "The unique ID of the function call.",
                                                                                                                                                   "name":  "id",
                                                                                                                                                   "type":  "text",
                                                                                                                                                   "label":  "Function Call ID"
                                                                                                                                               }
                                                                                                                                           ],
                                                                                                                                  "type":  "collection",
                                                                                                                                  "label":  "Function Call"
                                                                                                                              }
                                                                                                                          ]
                                                                                                           },
                                                                                                           {
                                                                                                               "label":  "Function Response",
                                                                                                               "value":  "functionResponse",
                                                                                                               "nested":  [
                                                                                                                              {
                                                                                                                                  "name":  "functionResponse",
                                                                                                                                  "spec":  [
                                                                                                                                               {
                                                                                                                                                   "help":  "The name of the function to call.",
                                                                                                                                                   "name":  "name",
                                                                                                                                                   "type":  "text",
                                                                                                                                                   "label":  "Name",
                                                                                                                                                   "required":  true,
                                                                                                                                                   "validate":  {
                                                                                                                                                                    "max":  64
                                                                                                                                                                }
                                                                                                                                               },
                                                                                                                                               {
                                                                                                                                                   "help":  "The function response in JSON object format.",
                                                                                                                                                   "name":  "response",
                                                                                                                                                   "type":  "json",
                                                                                                                                                   "label":  "Response",
                                                                                                                                                   "required":  true
                                                                                                                                               }
                                                                                                                                           ],
                                                                                                                                  "type":  "collection",
                                                                                                                                  "label":  "Function Response"
                                                                                                                              }
                                                                                                                          ]
                                                                                                           }
                                                                                                       ]
                                                                                       },
                                                                                       {
                                                                                           "name":  "thoughtSignature",
                                                                                           "type":  "text",
                                                                                           "label":  "Thought Signature"
                                                                                       }
                                                                                   ],
                                                                          "type":  "array",
                                                                          "label":  "Parts"
                                                                      }
                                                                  ],
                                                         "type":  "array",
                                                         "label":  "Messages",
                                                         "required":  true
                                                     },
                                                     {
                                                         "name":  "system_instruction",
                                                         "spec":  [
                                                                      {
                                                                          "name":  "parts",
                                                                          "spec":  {
                                                                                       "name":  "value",
                                                                                       "spec":  [
                                                                                                    {
                                                                                                        "name":  "text",
                                                                                                        "type":  "text",
                                                                                                        "label":  "Value"
                                                                                                    }
                                                                                                ],
                                                                                       "type":  "collection",
                                                                                       "label":  "Prompt"
                                                                                   },
                                                                          "type":  "array",
                                                                          "label":  "Prompts"
                                                                      }
                                                                  ],
                                                         "type":  "collection",
                                                         "label":  "System Instructions"
                                                     },
                                                     {
                                                         "name":  "safetySettings",
                                                         "spec":  [
                                                                      {
                                                                          "name":  "category",
                                                                          "type":  "select",
                                                                          "label":  "Category",
                                                                          "options":  [
                                                                                          {
                                                                                              "label":  "Harassment content",
                                                                                              "value":  "HARM_CATEGORY_HARASSMENT"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Hate speech and content",
                                                                                              "value":  "HARM_CATEGORY_HATE_SPEECH"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Sexually explicit content.",
                                                                                              "value":  "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Dangerous content:",
                                                                                              "value":  "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                                                          }
                                                                                      ]
                                                                      },
                                                                      {
                                                                          "name":  "threshold",
                                                                          "type":  "select",
                                                                          "label":  "Threshold",
                                                                          "options":  [
                                                                                          {
                                                                                              "label":  "Block low and above.",
                                                                                              "value":  "BLOCK_LOW_AND_ABOVE"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Block medium and above.",
                                                                                              "value":  "BLOCK_MEDIUM_AND_ABOVE"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Block only high.",
                                                                                              "value":  "BLOCK_ONLY_HIGH"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Block none.",
                                                                                              "value":  "BLOCK_NONE"
                                                                                          }
                                                                                      ]
                                                                      }
                                                                  ],
                                                         "type":  "array",
                                                         "label":  "Safety Settings"
                                                     },
                                                     {
                                                         "name":  "generationConfig",
                                                         "spec":  [
                                                                      {
                                                                          "name":  "stopSequences",
                                                                          "spec":  {
                                                                                       "name":  "value",
                                                                                       "type":  "text",
                                                                                       "label":  "Stop Sequence"
                                                                                   },
                                                                          "type":  "array",
                                                                          "label":  "Stop Sequences"
                                                                      },
                                                                      {
                                                                          "name":  "responseModalities",
                                                                          "type":  "select",
                                                                          "label":  "Response Modalities",
                                                                          "multiple":  true,
                                                                          "validate":  {
                                                                                           "enum":  [
                                                                                                        "text",
                                                                                                        "image"
                                                                                                    ]
                                                                                       }
                                                                      },
                                                                      {
                                                                          "name":  "maxOutputTokens",
                                                                          "type":  "number",
                                                                          "label":  "Max Output Tokens"
                                                                      },
                                                                      {
                                                                          "name":  "temperature",
                                                                          "type":  "number",
                                                                          "label":  "Temperature",
                                                                          "validate":  {
                                                                                           "max":  1,
                                                                                           "min":  0
                                                                                       }
                                                                      },
                                                                      {
                                                                          "name":  "topP",
                                                                          "type":  "number",
                                                                          "label":  "Top P",
                                                                          "validate":  {
                                                                                           "max":  1,
                                                                                           "min":  0
                                                                                       }
                                                                      },
                                                                      {
                                                                          "name":  "topK",
                                                                          "type":  "number",
                                                                          "label":  "Top K"
                                                                      },
                                                                      {
                                                                          "name":  "thinkingConfig",
                                                                          "spec":  [
                                                                                       {
                                                                                           "name":  "thinkingBudget",
                                                                                           "type":  "number",
                                                                                           "label":  "Thinking Budget"
                                                                                       },
                                                                                       {
                                                                                           "name":  "include_thoughts",
                                                                                           "type":  "boolean",
                                                                                           "label":  "Include Thoughts"
                                                                                       },
                                                                                       {
                                                                                           "name":  "thinking_level",
                                                                                           "type":  "select",
                                                                                           "label":  "Thinking Level",
                                                                                           "validate":  {
                                                                                                            "enum":  [
                                                                                                                         "low",
                                                                                                                         "high"
                                                                                                                     ]
                                                                                                        }
                                                                                       }
                                                                                   ],
                                                                          "type":  "collection",
                                                                          "label":  "Thinking Config"
                                                                      },
                                                                      {
                                                                          "name":  "mediaResolution",
                                                                          "type":  "select",
                                                                          "label":  "Media Resolution",
                                                                          "validate":  {
                                                                                           "enum":  [
                                                                                                        "media_resolution_low",
                                                                                                        "media_resolution_medium",
                                                                                                        "media_resolution_high"
                                                                                                    ]
                                                                                       }
                                                                      },
                                                                      {
                                                                          "name":  "imageConfig",
                                                                          "spec":  [
                                                                                       {
                                                                                           "name":  "imageSize",
                                                                                           "type":  "select",
                                                                                           "label":  "Image Size",
                                                                                           "validate":  {
                                                                                                            "enum":  [
                                                                                                                         "1K",
                                                                                                                         "2K",
                                                                                                                         "4K"
                                                                                                                     ]
                                                                                                        }
                                                                                       }
                                                                                   ],
                                                                          "type":  "collection",
                                                                          "label":  "Image Configuration"
                                                                      },
                                                                      {
                                                                          "name":  "responseMimeType",
                                                                          "type":  "select",
                                                                          "label":  "Response Format"
                                                                      }
                                                                  ],
                                                         "type":  "collection",
                                                         "label":  "Generation configurations"
                                                     },
                                                     {
                                                         "name":  "tools",
                                                         "type":  "any",
                                                         "label":  "Tools"
                                                     },
                                                     {
                                                         "name":  "tool_config",
                                                         "type":  "any",
                                                         "label":  "Tool Config"
                                                     },
                                                     {
                                                         "name":  "function_declarations_context",
                                                         "type":  "boolean",
                                                         "label":  "Function Declarations Grounding"
                                                     },
                                                     {
                                                         "name":  "url_context",
                                                         "type":  "boolean",
                                                         "label":  "URL Context"
                                                     },
                                                     {
                                                         "name":  "google_search_context",
                                                         "type":  "boolean",
                                                         "label":  "Google Search Grounding"
                                                     },
                                                     {
                                                         "name":  "code_execution",
                                                         "type":  "boolean",
                                                         "label":  "Code Execution"
                                                     },
                                                     {
                                                         "name":  "google_maps_context",
                                                         "type":  "boolean",
                                                         "label":  "Google Maps Grounding"
                                                     },
                                                     {
                                                         "name":  "file_search_store_context",
                                                         "type":  "boolean",
                                                         "label":  "File Search Store Context"
                                                     }
                                                 ],
                                      "restore":  {
                                                      "expect":  {
                                                                     "model":  {
                                                                                   "mode":  "chose",
                                                                                   "label":  "Gemini 2.0 Flash"
                                                                               },
                                                                     "contents":  {
                                                                                      "mode":  "chose",
                                                                                      "items":  [
                                                                                                    {
                                                                                                        "role":  {
                                                                                                                     "mode":  "chose",
                                                                                                                     "label":  "User"
                                                                                                                 },
                                                                                                        "parts":  {
                                                                                                                      "mode":  "chose",
                                                                                                                      "items":  [
                                                                                                                                    {
                                                                                                                                        "type":  {
                                                                                                                                                     "mode":  "chose",
                                                                                                                                                     "label":  "Text"
                                                                                                                                                 }
                                                                                                                                    }
                                                                                                                                ]
                                                                                                                  }
                                                                                                    }
                                                                                                ]
                                                                                  },
                                                                     "url_context":  {
                                                                                         "mode":  "chose"
                                                                                     },
                                                                     "code_execution":  {
                                                                                            "mode":  "chose"
                                                                                        },
                                                                     "safetySettings":  {
                                                                                            "mode":  "chose"
                                                                                        },
                                                                     "generationConfig":  {
                                                                                              "nested":  {
                                                                                                             "imageConfig":  {
                                                                                                                                 "nested":  {
                                                                                                                                                "imageSize":  {
                                                                                                                                                                  "mode":  "chose",
                                                                                                                                                                  "label":  "Empty"
                                                                                                                                                              }
                                                                                                                                            }
                                                                                                                             },
                                                                                                             "stopSequences":  {
                                                                                                                                   "mode":  "chose"
                                                                                                                               },
                                                                                                             "thinkingConfig":  {
                                                                                                                                    "nested":  {
                                                                                                                                                   "thinking_level":  {
                                                                                                                                                                          "mode":  "chose",
                                                                                                                                                                          "label":  "Empty"
                                                                                                                                                                      },
                                                                                                                                                   "include_thoughts":  {
                                                                                                                                                                            "mode":  "chose"
                                                                                                                                                                        }
                                                                                                                                               }
                                                                                                                                },
                                                                                                             "mediaResolution":  {
                                                                                                                                     "mode":  "chose",
                                                                                                                                     "label":  "Empty"
                                                                                                                                 },
                                                                                                             "responseMimeType":  {
                                                                                                                                      "mode":  "chose",
                                                                                                                                      "label":  "Empty"
                                                                                                                                  },
                                                                                                             "responseModalities":  {
                                                                                                                                        "mode":  "chose"
                                                                                                                                    }
                                                                                                         }
                                                                                          },
                                                                     "system_instruction":  {
                                                                                                "nested":  {
                                                                                                               "parts":  {
                                                                                                                             "mode":  "chose",
                                                                                                                             "items":  [
                                                                                                                                           null
                                                                                                                                       ]
                                                                                                                         }
                                                                                                           }
                                                                                            },
                                                                     "google_maps_context":  {
                                                                                                 "mode":  "chose"
                                                                                             },
                                                                     "google_search_context":  {
                                                                                                   "mode":  "chose"
                                                                                               },
                                                                     "file_search_store_context":  {
                                                                                                       "mode":  "chose"
                                                                                                   },
                                                                     "function_declarations_context":  {
                                                                                                           "mode":  "chose"
                                                                                                       }
                                                                 },
                                                      "parameters":  {
                                                                         "__IMTCONN__":  {
                                                                                             "data":  {
                                                                                                          "scoped":  "true",
                                                                                                          "connection":  "gemini-ai-q9zyjp"
                                                                                                      },
                                                                                             "label":  "My Gemini AI connection"
                                                                                         }
                                                                     }
                                                  },
                                      "designer":  {
                                                       "x":  300,
                                                       "y":  0
                                                   },
                                      "parameters":  [
                                                         {
                                                             "name":  "__IMTCONN__",
                                                             "type":  "account:gemini-ai-q9zyjp",
                                                             "label":  "Connection",
                                                             "required":  true
                                                         }
                                                     ]
                                  },
                     "parameters":  {
                                        "__IMTCONN__":  7290067
                                    }
                 },
                 {
                     "id":  3,
                     "mapper":  {
                                    "body":  "{{2.candidates[].content.parts[].text}}.",
                                    "status":  "200",
                                    "headers":  [

                                                ]
                                },
                     "module":  "gateway:WebhookRespond",
                     "version":  1,
                     "metadata":  {
                                      "expect":  [
                                                     {
                                                         "name":  "status",
                                                         "type":  "uinteger",
                                                         "label":  "Status",
                                                         "required":  true,
                                                         "validate":  {
                                                                          "min":  100
                                                                      }
                                                     },
                                                     {
                                                         "name":  "body",
                                                         "type":  "any",
                                                         "label":  "Body"
                                                     },
                                                     {
                                                         "name":  "headers",
                                                         "spec":  [
                                                                      {
                                                                          "name":  "key",
                                                                          "type":  "text",
                                                                          "label":  "Key",
                                                                          "required":  true,
                                                                          "validate":  {
                                                                                           "max":  256
                                                                                       }
                                                                      },
                                                                      {
                                                                          "name":  "value",
                                                                          "type":  "text",
                                                                          "label":  "Value",
                                                                          "required":  true,
                                                                          "validate":  {
                                                                                           "max":  4096
                                                                                       }
                                                                      }
                                                                  ],
                                                         "type":  "array",
                                                         "label":  "Custom headers",
                                                         "validate":  {
                                                                          "maxItems":  16
                                                                      }
                                                     }
                                                 ],
                                      "restore":  {
                                                      "expect":  {
                                                                     "headers":  {
                                                                                     "mode":  "chose"
                                                                                 }
                                                                 }
                                                  },
                                      "designer":  {
                                                       "x":  600,
                                                       "y":  0
                                                   }
                                  },
                     "parameters":  {

                                    }
                 }
             ],
    "name":  "Integration Webhooks, Google Gemini AI",
    "metadata":  {
                     "instant":  true,
                     "version":  1,
                     "designer":  {
                                      "orphans":  [

                                                  ],
                                      "samples":  {
                                                      "1":  {
                                                                "value":  "Hola Gemy, ¿ya estas viva?"
                                                            }
                                                  }
                                  },
                     "scenario":  {
                                      "dlq":  false,
                                      "slots":  null,
                                      "dataloss":  false,
                                      "maxErrors":  3,
                                      "autoCommit":  true,
                                      "roundtrips":  1,
                                      "sequential":  false,
                                      "confidential":  false,
                                      "freshVariables":  false,
                                      "autoCommitTriggerLast":  true
                                  }
                 }
}
