scenario_5260209.json
{
    "flow":  [
                 {
                     "id":  1,
                     "mapper":  {

                                },
                     "module":  "whatsapp-business-cloud:watchEvents2",
                     "version":  1,
                     "metadata":  {
                                      "restore":  {
                                                      "parameters":  {
                                                                         "__IMTHOOK__":  {
                                                                                             "data":  {
                                                                                                          "editable":  "false"
                                                                                                      },
                                                                                             "label":  "Oido_Luz_Fiel"
                                                                                         }
                                                                     }
                                                  },
                                      "designer":  {
                                                       "x":  741,
                                                       "y":  560
                                                   },
                                      "interface":  [
                                                        {
                                                            "name":  "id",
                                                            "type":  "text",
                                                            "label":  "WhatsApp Business Account ID"
                                                        },
                                                        {
                                                            "name":  "time",
                                                            "type":  "date",
                                                            "label":  "Time"
                                                        },
                                                        {
                                                            "name":  "field",
                                                            "type":  "text",
                                                            "label":  "Field"
                                                        },
                                                        {
                                                            "name":  "messaging_product",
                                                            "type":  "text",
                                                            "label":  "Messaging Product"
                                                        },
                                                        {
                                                            "name":  "metadata",
                                                            "spec":  [
                                                                         {
                                                                             "name":  "display_phone_number",
                                                                             "type":  "text",
                                                                             "label":  "Display Phone Number"
                                                                         },
                                                                         {
                                                                             "name":  "phone_number_id",
                                                                             "type":  "text",
                                                                             "label":  "Phone Number ID"
                                                                         }
                                                                     ],
                                                            "type":  "collection",
                                                            "label":  "Metadata"
                                                        },
                                                        {
                                                            "name":  "contacts",
                                                            "spec":  {
                                                                         "spec":  [
                                                                                      {
                                                                                          "name":  "profile",
                                                                                          "spec":  [
                                                                                                       {
                                                                                                           "name":  "name",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Name"
                                                                                                       }
                                                                                                   ],
                                                                                          "type":  "collection",
                                                                                          "label":  "Profile"
                                                                                      },
                                                                                      {
                                                                                          "name":  "wa_id",
                                                                                          "type":  "text",
                                                                                          "label":  "WhatsApp ID"
                                                                                      }
                                                                                  ],
                                                                         "type":  "collection"
                                                                     },
                                                            "type":  "array",
                                                            "label":  "Contacts"
                                                        },
                                                        {
                                                            "name":  "messages",
                                                            "spec":  {
                                                                         "spec":  [
                                                                                      {
                                                                                          "name":  "from",
                                                                                          "type":  "text",
                                                                                          "label":  "Sender"
                                                                                      },
                                                                                      {
                                                                                          "name":  "id",
                                                                                          "type":  "text",
                                                                                          "label":  "Message ID"
                                                                                      },
                                                                                      {
                                                                                          "name":  "timestamp",
                                                                                          "type":  "date",
                                                                                          "label":  "Timestamp"
                                                                                      },
                                                                                      {
                                                                                          "name":  "text",
                                                                                          "spec":  [
                                                                                                       {
                                                                                                           "name":  "body",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Body"
                                                                                                       }
                                                                                                   ],
                                                                                          "type":  "collection",
                                                                                          "label":  "Text"
                                                                                      },
                                                                                      {
                                                                                          "name":  "type",
                                                                                          "type":  "text",
                                                                                          "label":  "Type"
                                                                                      },
                                                                                      {
                                                                                          "name":  "image",
                                                                                          "spec":  [
                                                                                                       {
                                                                                                           "name":  "caption",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Caption"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "mime_type",
                                                                                                           "type":  "text",
                                                                                                           "label":  "MIME Type"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "sha256",
                                                                                                           "type":  "text",
                                                                                                           "label":  "SHA256"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "id",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Media ID"
                                                                                                       }
                                                                                                   ],
                                                                                          "type":  "collection",
                                                                                          "label":  "Image"
                                                                                      },
                                                                                      {
                                                                                          "name":  "audio",
                                                                                          "spec":  [
                                                                                                       {
                                                                                                           "name":  "mime_type",
                                                                                                           "type":  "text",
                                                                                                           "label":  "MIME Type"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "sha256",
                                                                                                           "type":  "text",
                                                                                                           "label":  "SHA256"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "id",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Media ID"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "voice",
                                                                                                           "type":  "boolean",
                                                                                                           "label":  "Voice"
                                                                                                       }
                                                                                                   ],
                                                                                          "type":  "collection",
                                                                                          "label":  "Audio"
                                                                                      },
                                                                                      {
                                                                                          "name":  "video",
                                                                                          "spec":  [
                                                                                                       {
                                                                                                           "name":  "caption",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Caption"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "mime_type",
                                                                                                           "type":  "text",
                                                                                                           "label":  "MIME Type"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "sha256",
                                                                                                           "type":  "text",
                                                                                                           "label":  "SHA256"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "id",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Media ID"
                                                                                                       }
                                                                                                   ],
                                                                                          "type":  "collection",
                                                                                          "label":  "Video"
                                                                                      },
                                                                                      {
                                                                                          "name":  "document",
                                                                                          "spec":  [
                                                                                                       {
                                                                                                           "name":  "caption",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Caption"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "filename",
                                                                                                           "type":  "text",
                                                                                                           "label":  "File Name"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "mime_type",
                                                                                                           "type":  "text",
                                                                                                           "label":  "MIME Type"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "sha256",
                                                                                                           "type":  "text",
                                                                                                           "label":  "SHA256"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "id",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Media ID"
                                                                                                       }
                                                                                                   ],
                                                                                          "type":  "collection",
                                                                                          "label":  "Document"
                                                                                      },
                                                                                      {
                                                                                          "name":  "contacts",
                                                                                          "spec":  {
                                                                                                       "spec":  [
                                                                                                                    {
                                                                                                                        "name":  "name",
                                                                                                                        "spec":  [
                                                                                                                                     {
                                                                                                                                         "name":  "formatted_name",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Formatted Name"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "first_name",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "First Name"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "last_name",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Last Name"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "middle_name",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Middle Name"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "suffix",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Name Suffix"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "prefix",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Name Prefix"
                                                                                                                                     }
                                                                                                                                 ],
                                                                                                                        "type":  "collection",
                                                                                                                        "label":  "Name"
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name":  "phones",
                                                                                                                        "spec":  [
                                                                                                                                     {
                                                                                                                                         "name":  "phone",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Phone"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "type",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Type"
                                                                                                                                     }
                                                                                                                                 ],
                                                                                                                        "type":  "array",
                                                                                                                        "label":  "Phones"
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name":  "emails",
                                                                                                                        "spec":  [
                                                                                                                                     {
                                                                                                                                         "name":  "email",
                                                                                                                                         "type":  "email",
                                                                                                                                         "label":  "Email"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "type",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Type"
                                                                                                                                     }
                                                                                                                                 ],
                                                                                                                        "type":  "array",
                                                                                                                        "label":  "Emails"
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name":  "org",
                                                                                                                        "spec":  [
                                                                                                                                     {
                                                                                                                                         "name":  "company",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Company"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "department",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Department"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "title",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Title"
                                                                                                                                     }
                                                                                                                                 ],
                                                                                                                        "type":  "collection",
                                                                                                                        "label":  "Organization"
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name":  "urls",
                                                                                                                        "spec":  [
                                                                                                                                     {
                                                                                                                                         "name":  "type",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Type"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "url",
                                                                                                                                         "type":  "url",
                                                                                                                                         "label":  "URL"
                                                                                                                                     }
                                                                                                                                 ],
                                                                                                                        "type":  "array",
                                                                                                                        "label":  "URLs"
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name":  "addresses",
                                                                                                                        "spec":  [
                                                                                                                                     {
                                                                                                                                         "name":  "type",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Type"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "street",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Street"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "city",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "City"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "zip",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "ZIP"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "country",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Country"
                                                                                                                                     },
                                                                                                                                     {
                                                                                                                                         "name":  "country_code",
                                                                                                                                         "type":  "text",
                                                                                                                                         "label":  "Country Code"
                                                                                                                                     }
                                                                                                                                 ],
                                                                                                                        "type":  "array",
                                                                                                                        "label":  "Addresses"
                                                                                                                    },
                                                                                                                    {
                                                                                                                        "name":  "birthday",
                                                                                                                        "type":  "text",
                                                                                                                        "label":  "Birthday"
                                                                                                                    }
                                                                                                                ],
                                                                                                       "type":  "collection"
                                                                                                   },
                                                                                          "type":  "array",
                                                                                          "label":  "Contacts"
                                                                                      },
                                                                                      {
                                                                                          "name":  "sticker",
                                                                                          "spec":  [
                                                                                                       {
                                                                                                           "name":  "mime_type",
                                                                                                           "type":  "text",
                                                                                                           "label":  "MIME Type"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "sha256",
                                                                                                           "type":  "text",
                                                                                                           "label":  "SHA256"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "id",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Media ID"
                                                                                                       }
                                                                                                   ],
                                                                                          "type":  "collection",
                                                                                          "label":  "Sticker"
                                                                                      },
                                                                                      {
                                                                                          "name":  "location",
                                                                                          "spec":  [
                                                                                                       {
                                                                                                           "name":  "latitude",
                                                                                                           "type":  "number",
                                                                                                           "label":  "Latitude"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "longitude",
                                                                                                           "type":  "number",
                                                                                                           "label":  "Longitude"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "name",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Name"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "address",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Address"
                                                                                                       }
                                                                                                   ],
                                                                                          "type":  "collection",
                                                                                          "label":  "Location"
                                                                                      },
                                                                                      {
                                                                                          "name":  "context",
                                                                                          "spec":  [
                                                                                                       {
                                                                                                           "name":  "from",
                                                                                                           "type":  "text",
                                                                                                           "label":  "From"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "id",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Context ID"
                                                                                                       }
                                                                                                   ],
                                                                                          "type":  "collection",
                                                                                          "label":  "Context"
                                                                                      },
                                                                                      {
                                                                                          "name":  "button",
                                                                                          "spec":  [
                                                                                                       {
                                                                                                           "name":  "payload",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Payload"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "text",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Text"
                                                                                                       }
                                                                                                   ],
                                                                                          "type":  "collection",
                                                                                          "label":  "Button"
                                                                                      },
                                                                                      {
                                                                                          "name":  "interactive",
                                                                                          "spec":  [
                                                                                                       {
                                                                                                           "name":  "type",
                                                                                                           "type":  "text",
                                                                                                           "label":  "Type"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "list_reply",
                                                                                                           "spec":  [
                                                                                                                        {
                                                                                                                            "name":  "id",
                                                                                                                            "type":  "number",
                                                                                                                            "label":  "ID"
                                                                                                                        },
                                                                                                                        {
                                                                                                                            "name":  "title",
                                                                                                                            "type":  "text",
                                                                                                                            "label":  "Title"
                                                                                                                        },
                                                                                                                        {
                                                                                                                            "name":  "description",
                                                                                                                            "type":  "text",
                                                                                                                            "label":  "Description"
                                                                                                                        }
                                                                                                                    ],
                                                                                                           "type":  "collection",
                                                                                                           "label":  "List Reply"
                                                                                                       },
                                                                                                       {
                                                                                                           "name":  "button_reply",
                                                                                                           "spec":  [
                                                                                                                        {
                                                                                                                            "name":  "id",
                                                                                                                            "type":  "number",
                                                                                                                            "label":  "ID"
                                                                                                                        },
                                                                                                                        {
                                                                                                                            "name":  "title",
                                                                                                                            "type":  "text",
                                                                                                                            "label":  "Title"
                                                                                                                        }
                                                                                                                    ],
                                                                                                           "type":  "collection",
                                                                                                           "label":  "Button Reply"
                                                                                                       }
                                                                                                   ],
                                                                                          "type":  "collection",
                                                                                          "label":  "Interactive"
                                                                                      }
                                                                                  ],
                                                                         "type":  "collection"
                                                                     },
                                                            "type":  "array",
                                                            "label":  "Messages"
                                                        }
                                                    ],
                                      "parameters":  [
                                                         {
                                                             "name":  "__IMTHOOK__",
                                                             "type":  "hook:whatsapp-business-cloud",
                                                             "label":  "Webhook",
                                                             "required":  true
                                                         }
                                                     ]
                                  },
                     "parameters":  {
                                        "__IMTHOOK__":  2401501
                                    }
                 },
                 {
                     "id":  2,
                     "mapper":  {
                                    "model":  "gemini-2.5-flash",
                                    "contents":  [
                                                     {
                                                         "role":  "user",
                                                         "parts":  [
                                                                       {
                                                                           "text":  "{{1.messages[].text.body}}",
                                                                           "type":  "text"
                                                                       }
                                                                   ]
                                                     }
                                                 ],
                                    "generationConfig":  {
                                                             "imageConfig":  {

                                                                             },
                                                             "thinkingConfig":  {

                                                                                }
                                                         },
                                    "system_instruction":  {
                                                               "parts":  [
                                                                             {

                                                                             }
                                                                         ]
                                                           }
                                },
                     "module":  "gemini-ai:createACompletionGeminiPro",
                     "version":  1,
                     "metadata":  {
                                      "expect":  [
                                                     {
                                                         "name":  "model",
                                                         "type":  "select",
                                                         "label":  "AI Model",
                                                         "required":  true
                                                     },
                                                     {
                                                         "name":  "contents",
                                                         "spec":  [
                                                                      {
                                                                          "name":  "role",
                                                                          "type":  "select",
                                                                          "label":  "Role",
                                                                          "options":  [
                                                                                          {
                                                                                              "label":  "User",
                                                                                              "value":  "user"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Model",
                                                                                              "value":  "model"
                                                                                          }
                                                                                      ],
                                                                          "required":  true
                                                                      },
                                                                      {
                                                                          "name":  "parts",
                                                                          "spec":  [
                                                                                       {
                                                                                           "name":  "type",
                                                                                           "type":  "select",
                                                                                           "label":  "Message Type",
                                                                                           "options":  [
                                                                                                           {
                                                                                                               "label":  "Text",
                                                                                                               "value":  "text",
                                                                                                               "nested":  [
                                                                                                                              {
                                                                                                                                  "name":  "text",
                                                                                                                                  "type":  "text",
                                                                                                                                  "label":  "Text",
                                                                                                                                  "required":  true
                                                                                                                              }
                                                                                                                          ]
                                                                                                           },
                                                                                                           {
                                                                                                               "label":  "File",
                                                                                                               "value":  "file",
                                                                                                               "nested":  [
                                                                                                                              {
                                                                                                                                  "name":  "file_data",
                                                                                                                                  "spec":  [
                                                                                                                                               {
                                                                                                                                                   "name":  "mime_type",
                                                                                                                                                   "type":  "text",
                                                                                                                                                   "label":  "Mime Type",
                                                                                                                                                   "required":  true
                                                                                                                                               },
                                                                                                                                               {
                                                                                                                                                   "help":  "You can use public or signed URLs as input by using the URLs.",
                                                                                                                                                   "name":  "file_uri",
                                                                                                                                                   "type":  "text",
                                                                                                                                                   "label":  "File URI",
                                                                                                                                                   "required":  true
                                                                                                                                               }
                                                                                                                                           ],
                                                                                                                                  "type":  "collection",
                                                                                                                                  "label":  "File Data",
                                                                                                                                  "required":  true
                                                                                                                              }
                                                                                                                          ]
                                                                                                           },
                                                                                                           {
                                                                                                               "label":  "Function Call",
                                                                                                               "value":  "functionCall",
                                                                                                               "nested":  [
                                                                                                                              {
                                                                                                                                  "name":  "functionCall",
                                                                                                                                  "spec":  [
                                                                                                                                               {
                                                                                                                                                   "help":  "The name of the function to call.",
                                                                                                                                                   "name":  "name",
                                                                                                                                                   "type":  "text",
                                                                                                                                                   "label":  "Name",
                                                                                                                                                   "required":  true,
                                                                                                                                                   "validate":  {
                                                                                                                                                                    "max":  64
                                                                                                                                                                }
                                                                                                                                               },
                                                                                                                                               {
                                                                                                                                                   "help":  "The function parameters and values in JSON object format.",
                                                                                                                                                   "name":  "args",
                                                                                                                                                   "type":  "json",
                                                                                                                                                   "label":  "Arguments"
                                                                                                                                               },
                                                                                                                                               {
                                                                                                                                                   "help":  "The unique ID of the function call.",
                                                                                                                                                   "name":  "id",
                                                                                                                                                   "type":  "text",
                                                                                                                                                   "label":  "Function Call ID"
                                                                                                                                               }
                                                                                                                                           ],
                                                                                                                                  "type":  "collection",
                                                                                                                                  "label":  "Function Call"
                                                                                                                              }
                                                                                                                          ]
                                                                                                           },
                                                                                                           {
                                                                                                               "label":  "Function Response",
                                                                                                               "value":  "functionResponse",
                                                                                                               "nested":  [
                                                                                                                              {
                                                                                                                                  "name":  "functionResponse",
                                                                                                                                  "spec":  [
                                                                                                                                               {
                                                                                                                                                   "help":  "The name of the function to call.",
                                                                                                                                                   "name":  "name",
                                                                                                                                                   "type":  "text",
                                                                                                                                                   "label":  "Name",
                                                                                                                                                   "required":  true,
                                                                                                                                                   "validate":  {
                                                                                                                                                                    "max":  64
                                                                                                                                                                }
                                                                                                                                               },
                                                                                                                                               {
                                                                                                                                                   "help":  "The function response in JSON object format.",
                                                                                                                                                   "name":  "response",
                                                                                                                                                   "type":  "json",
                                                                                                                                                   "label":  "Response",
                                                                                                                                                   "required":  true
                                                                                                                                               }
                                                                                                                                           ],
                                                                                                                                  "type":  "collection",
                                                                                                                                  "label":  "Function Response"
                                                                                                                              }
                                                                                                                          ]
                                                                                                           }
                                                                                                       ],
                                                                                           "required":  true
                                                                                       },
                                                                                       {
                                                                                           "name":  "thoughtSignature",
                                                                                           "type":  "text",
                                                                                           "label":  "Thought Signature"
                                                                                       }
                                                                                   ],
                                                                          "type":  "array",
                                                                          "label":  "Parts",
                                                                          "required":  true
                                                                      }
                                                                  ],
                                                         "type":  "array",
                                                         "label":  "Messages",
                                                         "required":  true
                                                     },
                                                     {
                                                         "name":  "system_instruction",
                                                         "spec":  [
                                                                      {
                                                                          "name":  "parts",
                                                                          "spec":  {
                                                                                       "name":  "value",
                                                                                       "spec":  [
                                                                                                    {
                                                                                                        "name":  "text",
                                                                                                        "type":  "text",
                                                                                                        "label":  "Value"
                                                                                                    }
                                                                                                ],
                                                                                       "type":  "collection",
                                                                                       "label":  "Prompt"
                                                                                   },
                                                                          "type":  "array",
                                                                          "label":  "Prompts"
                                                                      }
                                                                  ],
                                                         "type":  "collection",
                                                         "label":  "System Instructions"
                                                     },
                                                     {
                                                         "name":  "safetySettings",
                                                         "spec":  [
                                                                      {
                                                                          "name":  "category",
                                                                          "type":  "select",
                                                                          "label":  "Category",
                                                                          "options":  [
                                                                                          {
                                                                                              "label":  "Harassment content",
                                                                                              "value":  "HARM_CATEGORY_HARASSMENT"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Hate speech and content",
                                                                                              "value":  "HARM_CATEGORY_HATE_SPEECH"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Sexually explicit content.",
                                                                                              "value":  "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Dangerous content:",
                                                                                              "value":  "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                                                          }
                                                                                      ]
                                                                      },
                                                                      {
                                                                          "name":  "threshold",
                                                                          "type":  "select",
                                                                          "label":  "Threshold",
                                                                          "options":  [
                                                                                          {
                                                                                              "label":  "Block low and above.",
                                                                                              "value":  "BLOCK_LOW_AND_ABOVE"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Block medium and above.",
                                                                                              "value":  "BLOCK_MEDIUM_AND_ABOVE"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Block only high.",
                                                                                              "value":  "BLOCK_ONLY_HIGH"
                                                                                          },
                                                                                          {
                                                                                              "label":  "Block none.",
                                                                                              "value":  "BLOCK_NONE"
                                                                                          }
                                                                                      ]
                                                                      }
                                                                  ],
                                                         "type":  "array",
                                                         "label":  "Safety Settings"
                                                     },
                                                     {
                                                         "name":  "generationConfig",
                                                         "spec":  [
                                                                      {
                                                                          "name":  "stopSequences",
                                                                          "spec":  {
                                                                                       "name":  "value",
                                                                                       "type":  "text",
                                                                                       "label":  "Stop Sequence"
                                                                                   },
                                                                          "type":  "array",
                                                                          "label":  "Stop Sequences"
                                                                      },
                                                                      {
                                                                          "name":  "responseModalities",
                                                                          "type":  "select",
                                                                          "label":  "Response Modalities",
                                                                          "multiple":  true,
                                                                          "validate":  {
                                                                                           "enum":  [
                                                                                                        "text",
                                                                                                        "image"
                                                                                                    ]
                                                                                       }
                                                                      },
                                                                      {
                                                                          "name":  "maxOutputTokens",
                                                                          "type":  "number",
                                                                          "label":  "Max Output Tokens"
                                                                      },
                                                                      {
                                                                          "name":  "temperature",
                                                                          "type":  "number",
                                                                          "label":  "Temperature",
                                                                          "validate":  {
                                                                                           "max":  1,
                                                                                           "min":  0
                                                                                       }
                                                                      },
                                                                      {
                                                                          "name":  "topP",
                                                                          "type":  "number",
                                                                          "label":  "Top P",
                                                                          "validate":  {
                                                                                           "max":  1,
                                                                                           "min":  0
                                                                                       }
                                                                      },
                                                                      {
                                                                          "name":  "topK",
                                                                          "type":  "number",
                                                                          "label":  "Top K"
                                                                      },
                                                                      {
                                                                          "name":  "thinkingConfig",
                                                                          "spec":  [
                                                                                       {
                                                                                           "name":  "thinkingBudget",
                                                                                           "type":  "number",
                                                                                           "label":  "Thinking Budget"
                                                                                       },
                                                                                       {
                                                                                           "name":  "include_thoughts",
                                                                                           "type":  "boolean",
                                                                                           "label":  "Include Thoughts"
                                                                                       },
                                                                                       {
                                                                                           "name":  "thinking_level",
                                                                                           "type":  "select",
                                                                                           "label":  "Thinking Level",
                                                                                           "validate":  {
                                                                                                            "enum":  [
                                                                                                                         "low",
                                                                                                                         "high"
                                                                                                                     ]
                                                                                                        }
                                                                                       }
                                                                                   ],
                                                                          "type":  "collection",
                                                                          "label":  "Thinking Config"
                                                                      },
                                                                      {
                                                                          "name":  "mediaResolution",
                                                                          "type":  "select",
                                                                          "label":  "Media Resolution",
                                                                          "validate":  {
                                                                                           "enum":  [
                                                                                                        "media_resolution_low",
                                                                                                        "media_resolution_medium",
                                                                                                        "media_resolution_high"
                                                                                                    ]
                                                                                       }
                                                                      },
                                                                      {
                                                                          "name":  "imageConfig",
                                                                          "spec":  [
                                                                                       {
                                                                                           "name":  "imageSize",
                                                                                           "type":  "select",
                                                                                           "label":  "Image Size",
                                                                                           "validate":  {
                                                                                                            "enum":  [
                                                                                                                         "1K",
                                                                                                                         "2K",
                                                                                                                         "4K"
                                                                                                                     ]
                                                                                                        }
                                                                                       }
                                                                                   ],
                                                                          "type":  "collection",
                                                                          "label":  "Image Configuration"
                                                                      },
                                                                      {
                                                                          "name":  "responseMimeType",
                                                                          "type":  "select",
                                                                          "label":  "Response Format"
                                                                      }
                                                                  ],
                                                         "type":  "collection",
                                                         "label":  "Generation configurations"
                                                     },
                                                     {
                                                         "name":  "tools",
                                                         "type":  "any",
                                                         "label":  "Tools"
                                                     },
                                                     {
                                                         "name":  "tool_config",
                                                         "type":  "any",
                                                         "label":  "Tool Config"
                                                     },
                                                     {
                                                         "name":  "function_declarations_context",
                                                         "type":  "boolean",
                                                         "label":  "Function Declarations Grounding"
                                                     },
                                                     {
                                                         "name":  "url_context",
                                                         "type":  "boolean",
                                                         "label":  "URL Context"
                                                     },
                                                     {
                                                         "name":  "google_search_context",
                                                         "type":  "boolean",
                                                         "label":  "Google Search Grounding"
                                                     },
                                                     {
                                                         "name":  "code_execution",
                                                         "type":  "boolean",
                                                         "label":  "Code Execution"
                                                     },
                                                     {
                                                         "name":  "google_maps_context",
                                                         "type":  "boolean",
                                                         "label":  "Google Maps Grounding"
                                                     },
                                                     {
                                                         "name":  "file_search_store_context",
                                                         "type":  "boolean",
                                                         "label":  "File Search Store Context"
                                                     },
                                                     {
                                                         "name":  "serviceTier",
                                                         "type":  "select",
                                                         "label":  "Inference Service Tier"
                                                     }
                                                 ],
                                      "restore":  {
                                                      "expect":  {
                                                                     "model":  {
                                                                                   "mode":  "chose",
                                                                                   "label":  "Géminis 2.5 FlashFecha de descontinuación: 16 de octubre de 2026"
                                                                               },
                                                                     "contents":  {
                                                                                      "mode":  "chose",
                                                                                      "items":  [
                                                                                                    {
                                                                                                        "role":  {
                                                                                                                     "mode":  "chose",
                                                                                                                     "label":  "Usuario"
                                                                                                                 },
                                                                                                        "parts":  {
                                                                                                                      "mode":  "chose",
                                                                                                                      "items":  [
                                                                                                                                    {
                                                                                                                                        "type":  {
                                                                                                                                                     "mode":  "chose",
                                                                                                                                                     "label":  "Texto"
                                                                                                                                                 }
                                                                                                                                    }
                                                                                                                                ]
                                                                                                                  }
                                                                                                    }
                                                                                                ]
                                                                                  },
                                                                     "serviceTier":  {
                                                                                         "mode":  "chose",
                                                                                         "label":  "Vacío"
                                                                                     },
                                                                     "url_context":  {
                                                                                         "mode":  "chose"
                                                                                     },
                                                                     "code_execution":  {
                                                                                            "mode":  "chose"
                                                                                        },
                                                                     "safetySettings":  {
                                                                                            "mode":  "chose"
                                                                                        },
                                                                     "generationConfig":  {
                                                                                              "nested":  {
                                                                                                             "imageConfig":  {
                                                                                                                                 "nested":  {
                                                                                                                                                "imageSize":  {
                                                                                                                                                                  "mode":  "chose",
                                                                                                                                                                  "label":  "Vacío"
                                                                                                                                                              }
                                                                                                                                            }
                                                                                                                             },
                                                                                                             "stopSequences":  {
                                                                                                                                   "mode":  "chose"
                                                                                                                               },
                                                                                                             "thinkingConfig":  {
                                                                                                                                    "nested":  {
                                                                                                                                                   "thinking_level":  {
                                                                                                                                                                          "mode":  "chose",
                                                                                                                                                                          "label":  "Vacío"
                                                                                                                                                                      },
                                                                                                                                                   "include_thoughts":  {
                                                                                                                                                                            "mode":  "chose"
                                                                                                                                                                        }
                                                                                                                                               }
                                                                                                                                },
                                                                                                             "mediaResolution":  {
                                                                                                                                     "mode":  "chose",
                                                                                                                                     "label":  "Vacío"
                                                                                                                                 },
                                                                                                             "responseMimeType":  {
                                                                                                                                      "mode":  "chose",
                                                                                                                                      "label":  "Vacío"
                                                                                                                                  },
                                                                                                             "responseModalities":  {
                                                                                                                                        "mode":  "chose"
                                                                                                                                    }
                                                                                                         }
                                                                                          },
                                                                     "system_instruction":  {
                                                                                                "nested":  {
                                                                                                               "parts":  {
                                                                                                                             "mode":  "chose",
                                                                                                                             "items":  [
                                                                                                                                           null
                                                                                                                                       ]
                                                                                                                         }
                                                                                                           }
                                                                                            },
                                                                     "google_maps_context":  {
                                                                                                 "mode":  "chose"
                                                                                             },
                                                                     "google_search_context":  {
                                                                                                   "mode":  "chose"
                                                                                               },
                                                                     "file_search_store_context":  {
                                                                                                       "mode":  "chose"
                                                                                                   },
                                                                     "function_declarations_context":  {
                                                                                                           "mode":  "chose"
                                                                                                       }
                                                                 },
                                                      "parameters":  {
                                                                         "__IMTCONN__":  {
                                                                                             "data":  {
                                                                                                          "scoped":  "true",
                                                                                                          "connection":  "gemini-ai-q9zyjp"
                                                                                                      },
                                                                                             "label":  "Mi conexión con la IA de Géminis"
                                                                                         }
                                                                     }
                                                  },
                                      "designer":  {
                                                       "x":  964,
                                                       "y":  564
                                                   },
                                      "parameters":  [
                                                         {
                                                             "name":  "__IMTCONN__",
                                                             "type":  "account:gemini-ai-q9zyjp",
                                                             "label":  "Connection",
                                                             "required":  true
                                                         }
                                                     ]
                                  },
                     "parameters":  {
                                        "__IMTCONN__":  7290067
                                    }
                 },
                 {
                     "id":  5,
                     "mapper":  {
                                    "to":  "{{1.messages[].from}}",
                                    "text":  {
                                                 "body":  "{{2.text}}",
                                                 "preview_url":  false
                                             },
                                    "type":  "text",
                                    "fromId":  "1059176120608663"
                                },
                     "module":  "whatsapp-business-cloud:sendMessage",
                     "version":  1,
                     "metadata":  {
                                      "expect":  [
                                                     {
                                                         "name":  "fromId",
                                                         "type":  "select",
                                                         "label":  "Sender ID",
                                                         "required":  true
                                                     },
                                                     {
                                                         "name":  "to",
                                                         "type":  "text",
                                                         "label":  "Receiver",
                                                         "required":  true
                                                     },
                                                     {
                                                         "name":  "type",
                                                         "type":  "select",
                                                         "label":  "Message Type",
                                                         "required":  true,
                                                         "validate":  {
                                                                          "enum":  [
                                                                                       "text",
                                                                                       "image",
                                                                                       "audio",
                                                                                       "video",
                                                                                       "document",
                                                                                       "sticker",
                                                                                       "location",
                                                                                       "contacts",
                                                                                       "interactive"
                                                                                   ]
                                                                      }
                                                     },
                                                     {
                                                         "name":  "text",
                                                         "spec":  [
                                                                      {
                                                                          "name":  "body",
                                                                          "type":  "text",
                                                                          "label":  "Body",
                                                                          "required":  true,
                                                                          "validate":  {
                                                                                           "max":  4096
                                                                                       }
                                                                      },
                                                                      {
                                                                          "name":  "preview_url",
                                                                          "type":  "boolean",
                                                                          "label":  "Preview URL",
                                                                          "required":  true
                                                                      }
                                                                  ],
                                                         "type":  "collection",
                                                         "label":  "Text"
                                                     }
                                                 ],
                                      "restore":  {
                                                      "expect":  {
                                                                     "text":  {
                                                                                  "nested":  {
                                                                                                 "preview_url":  {
                                                                                                                     "mode":  "chose"
                                                                                                                 }
                                                                                             }
                                                                              },
                                                                     "type":  {
                                                                                  "label":  "Texto"
                                                                              },
                                                                     "fromId":  {
                                                                                    "mode":  "chose",
                                                                                    "label":  "Tienda Digital (+54 9 11 4060-7059)"
                                                                                }
                                                                 },
                                                      "parameters":  {
                                                                         "__IMTCONN__":  {
                                                                                             "data":  {
                                                                                                          "scoped":  "true",
                                                                                                          "connection":  "whatsapp-business-cloud"
                                                                                                      },
                                                                                             "label":  "Mi conexión a la nube de WhatsApp Business (Tienda digital (938226901870944))"
                                                                                         }
                                                                     }
                                                  },
                                      "designer":  {
                                                       "x":  1264,
                                                       "y":  564
                                                   },
                                      "parameters":  [
                                                         {
                                                             "name":  "__IMTCONN__",
                                                             "type":  "account:whatsapp-business-cloud,whatsapp-business-cloud2",
                                                             "label":  "Connection",
                                                             "required":  true
                                                         }
                                                     ]
                                  },
                     "parameters":  {
                                        "__IMTCONN__":  9201390
                                    }
                 }
             ],
    "name":  "Integration WhatsApp Business Cloud",
    "metadata":  {
                     "instant":  true,
                     "version":  1,
                     "designer":  {
                                      "orphans":  [

                                                  ]
                                  },
                     "scenario":  {
                                      "dlq":  false,
                                      "slots":  null,
                                      "dataloss":  false,
                                      "maxErrors":  3,
                                      "autoCommit":  true,
                                      "roundtrips":  1,
                                      "sequential":  false,
                                      "confidential":  false,
                                      "freshVariables":  false,
                                      "autoCommitTriggerLast":  true
                                  }
                 }
}
